.login-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50vh;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 1rem;
  text-align: center;
  width: 25vh;
}

.login-text {
  font-size: 1.5rem;
}

.btn-outline-light {
  max-width: 25vh;
}

.spotify {
  color: #1db954;
}