.login-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50vh;
}

.input-field {
  margin-bottom: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}

.btn-outline-light {
  width: 50%;
}

.spotify {
  color: #1db954;
}