.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item__price {
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: black;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  color: white;
}

.cart {
  /* background-color: black; */
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  /* color: white; */
}

.subtotal {
  font-size: 30px;
  text-align: center;
}

.total-price {
  font-size: 50px;
  text-align: center;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 30px;
  text-align: center;
}

.empty-cart {
  border: 1px solid white;
  padding: 10px;
  background-color: black;
  color: white;
}

.cart__item {
  font-size: 20px;
  padding: 20px;
}
